body{
    padding: 2rem;
}
p{
    color: black;
}
h1, h2, h3, h4, h5, h6{
    color:black;
}
#cursoContenedor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div{
    color:black;
}